<ul>
  <li><a href="#{{currentPage}}" id="englishlink"><img class="icono_bandera" src="../View/img/internacionalizacion/reino_unido.png" alt="{{i18n 'English'}}"/></a></li>
  <li><a href="#{{currentPage}}" id="spanishlink"><img class="icono_bandera" src="../View/img/internacionalizacion/spain.png" alt="{{i18n 'Spanish'}}"/></a></li>
  <li><a href="#{{currentPage}}" id="galicianlink"><img class="icono_bandera" src="../View/img/internacionalizacion/galicia.png" alt="{{i18n 'Galician'}}"/></a></li>
</ul>
