<div>

	<body>
		<header id="cabecera">
		</header>
		<section id="menu_superior">
			<div id="languagecontrol">{{i18n 'Loading...'}}</div>
			<span></span>
		</section>
		<main>
			<div id="lateral_derecho">
				<div id="users">{{i18n 'Loading...'}}</div>
				<div id="hashtags">{{i18n 'Loading...'}}</div>
			</div>
			<nav id="menu">
				<div id="userbar">{{i18n 'Loading...'}}</div>
			</nav>
			<!-- router contents -->
			<div id="maincontent">{{i18n 'Loading...'}}</div>
		</main>
		<footer id="pie">
			<img src="../View/img/logo/logo_blanco.png" alt="{{i18n 'TikTakPhoenix Logo'}}"/>
			<h4>{{i18n '© TIKTAK Phoenix - Group 21 (2020/2021)'}}</h4>
		</footer>
	</body>

</div>
